.env
.env.local
frontend/.env.prod

backend/venv/
frontend/node_modules/
frontend/dist/
backend/app/__pycache__/
backend/.pytest_cache/
backend/app/agent/__pycache__/
backend/app/tests/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/